.ingredient-stats {
  color: #8585AD;
  display: flex;
  text-align: center;
}

.photo {
  width: 520px;
  height: 240px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}