.card-info {
  display: flex;
  min-width: 64px;
  justify-content: space-between;
}

.card-name {
  text-align: center;
}

.card {
  width: 272px;
  height: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter {
  position: relative;
  align-self: flex-end;
}