.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: #4C4CFF;
  box-sizing: border-box;
}

.link:visited {
  color: #4C4CFF;
}

.page-header {
  width: 1240px;
  height: 40px;
}

.feed {
  flex-direction: row;
}