.app-header {
  display: flex;
  align-items: center;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.profile {
  width: 470px;
  justify-content: flex-end !important;
}

.order-list {
  width: 197px;
}

.left-header-buttons {
  display: flex;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.constructor {
  width: 178px;
}

.not-active {
  color: #8585AD
}

.link {
  color: #8585AD
}

.link:visited {
  color: #8585AD
}

.active {
  color: #F2F2F3
}

.active:visited {
  color: #F2F2F3
}